.detail__warp {
	margin-top: 100px;
	width: 50%;
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(2, minmax(550px, 1fr));
}
.detail__left img {
	width: 100%;
	padding-right: 20%;
}
.detail__right > p:last-child {
	font-size: 18px;
}
.ratings {
	display: flex;
	align-items: baseline;
	margin-top: -15px;
	font-size: 30px;
}
.rating__star {
	position: relative;
	width: max-content;
}
.ratings__fill {
	position: absolute;
	top: 0;
	color: #ff0000;
	z-index: 1;
	overflow: hidden;
}
.ratings__base {
	color: #969090;
}
.ratings > p {
	font-size: 15px;
	margin-left: 10px;
}
