.detail__warp {
	margin-top: 100px;
	width: 50%;
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(2, minmax(550px, 1fr));
}
.detail__left img {
	width: 100%;
	padding-right: 20%;
}
.detail__right > p:last-child {
	font-size: 18px;
}
